
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body{
    background-color: rgb(90, 255, 57);
}
 .NavigationBar {
  background-color: #333 ;
  height: auto;
  margin-top: -0.55%;
  margin-left: -2.5%;
  width: 100%;
  color: #f2f2f2;
  padding: 14px 16px;
  justify-items: start;
  text-align: center;
} 
.NavigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  justify-items: start;
}

.NavigationBar a:hover {
  background-color: #ddd;
  color: black;
}
.NavigationBar a.active {
  background-color: #04AA6D;
  color: white;
}

h1{
    font-family: Rubik Doodle Shadow;
    justify-content: center;
    text-align: center;
    color: rgb(1, 0, 0);
    text-shadow: 3ex;
    text-transform: uppercase;
}
#bsingh_logo,.logo{
  height:max-content;
  width: 10%;
  margin-top:0%;
  margin-left: 1.4%;
  margin-bottom: 0%;
  border-radius: 50%;
  background: linear-gradient(red,blue,green);
  padding: 1.5px;
  object-fit: cover;
    border-radius: 50%;
}
.logo{
  max-width: 1cm;
}

@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)
{
  .NavigationBar{
    height: 1.5cm;
    margin-top: -2.1%;
    width: 105%;
    margin-left: -2.5%;
  }
  #bsingh_logo,.logo{
    height:auto;
    margin-top:0%;
    margin-left: 0%;
  }
}
