
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body{
    background-color: #f2f3f4 ;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #808080;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}h1{
    font-family: Rubik Doodle Shadow;
    justify-content: center;
    text-align: center;
    color: rgb(1, 0, 0);
    text-shadow: 3ex;
    text-transform: uppercase;
}
#bsingh_logo{
  width: 10%;
  /* border-radius: 50%;  to make logo circle  */
  background: linear-gradient(red,blue,green);
  padding: 1.8px;
  object-fit: cover;
}

#selling{
  margin-top: 0.3cm;
  margin-left: 0.3cm;
  height: 10cm;
  width: 10cm;
}

@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)
{
  
}

