
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body{
    background-color: rgb(90, 255, 57);
}
#Navigation_Bar{
  background-color: #8db600 ;
  height: auto;
  margin-top: -0.55%;
  width: 145%;
  margin-left: -2.5%;
}

h1{
    font-family: Rubik Doodle Shadow;
    justify-content: center;
    text-align: center;
    color: rgb(1, 0, 0);
    text-shadow: 3ex;
    text-transform: uppercase;
}
#bsingh_logo{
  height:max-content;
  width: 10%;
  margin-top:0%;
  margin-left: 1.4%;
  margin-bottom: 0%;
  border-radius: 50%;
  background: linear-gradient(red,blue,green);
  padding: 1.5px;
  object-fit: cover;
    border-radius: 50%;
}